<!-- Professional Medical Loading Screen Overlay -->
<div id="loader-overlay">
    <div class="loader-content">
        <!-- Heart Pulse Animation -->
        <div class="heart-pulse">
            <i class="fa-solid fa-heart-pulse"></i>
        </div>
        
        <!-- ECG Line Animation -->
        <div class="ecg-container">
            <svg viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg">
                <path class="ecg-line" d="M0,10 L10,10 L15,10 L20,2 L25,18 L30,10 L40,10 L45,10 L50,0 L55,20 L60,10 L70,10 L75,10 L80,5 L85,15 L90,10 L100,10" />
            </svg>
        </div>
        
        <div class="loader-text">Loading easyMed...</div>
        
        <!-- Spinner -->
        <div class="spinner-container d-flex justify-content-center">
            <div class="spinner"></div>
        </div>
    </div>
</div>
